header, section {display: block;}
ul{list-style:none;}
html{margin:0;height:100%;width:100%;}
body{font:16px/24px "Nobile","Lucida Grande",Lucida,Verdana,sans-serif;margin:0;height:100%;width:100%;display:-moz-box;display:-webkit-box;display:box;-moz-box-orient:vertical;-moz-box-flex:1;-webkit-box-orient:vertical;-webkit-box-flex:1;box-orient:vertical;box-flex:1;}
a{color:#1b61d6;text-decoration:none;}
a:hover{color:#e88f00;text-decoration:underline;}
body h1, body h2, body h3, body h4, body h5, body h6{font-weight:normal;color:#373839;font-style:normal;}
.copyright{width:750px;margin-right:auto;margin-left:auto;}
#main-top{color:#000000;height:230px;background:#ffffff url(headerbg.png) repeat-x 0 top;position:relative;}
.top,.middle,.bottom{width:750px;margin-right:auto;margin-left:auto;}
.top{padding-top:40px;}
#main-middle{width:100%;height:100px;background:url(middlebg.png) repeat-x;border-top:2px solid #ffffff;border-bottom:2px solid #b2b2b2;}
.app-welcome{margin-top:25px;}
.app-name{color:#000000;font-weight:bold;}
.bottom{padding-top:50px;}
.align-left{text-align:left;}
.align-right{text-align:right;}
.align-center{text-align:center;}
ul.links{margin:0;padding:0;}
ul.links li{list-style-type:none;font-size:14px;}
input{color:#222;border:1px solid #ccc;font-family:sans-serif;font-size:12px;line-height:16px;}
input[type=text]{width:205px;}
input[type=submit]{background-color:#ddd;font-weight:bold;}
footer{display:block;width:100%;color:#ffffff;height:40px;text-align:center;line-height:40px;overflow:hidden;font-size:12px;vertical-align:middle;background:#000000 url(footerbg.png) repeat-x 0 top;}
#main{-moz-box-flex:1;-webkit-box-flex:1;box-flex:1;}
#main-bottom{color:#222;background-color:#ffffff;display:-moz-box;display:-webkit-box;display:box;-moz-box-orient:horizontal;-moz-box-flex:1;-webkit-box-orient:horizontal;-webkit-box-flex:1;box-orient:horizontal;box-flex:1;width:100%;}
.half-box{margin:0;padding:1em;-moz-box-flex:1;-webkit-box-flex:1;box-flex:1;}
